[2014-06-19 20:43] JerrySievert opened #1 "make public?"
can we make this public?  it is very useful.

[2014-08-05 05:49] ChrisMahlke opened #2 "Create gh-page to view samples live"
I don't think I have access permissions to create a gh-page.  It's always nice to view a live demo of a sample instead of reading through lines of code. @phpmaps Do you have access?

[2014-08-05 05:50] ChrisMahlke opened #3 "Update API versions"
Use the latest version.

[2014-08-05 15:41] #2 closed, assigned to phpmaps

[2014-08-05 15:57] #3 closed, assigned to nobody

[2015-02-01 22:03] jgravois opened #4 "document guidelines for contributing"
i suggest we enforce a fork and pull model for this repository (or at a bare minimum require submitting Pull Requests to merge into master from dedicated feature branches) and explicitly prohibit that contributors push directly to the master branch.

https://help.github.com/articles/using-pull-requests/

this will be beneficial for several reasons

1. a second set of eyes helps spot errors and giv

[2015-02-02 22:52] jgravois opened #6 "multiple maps connected sample needs tweaked."
we need to remove the Leaflet.markercluster readme, examples, jake buildfile and other bloat from the multiple maps connected sample.  is the plugin available via CDN?  if not, whats the minimum required to make our own sample run?

@bsnider, you up for cleaning this one up?

[2015-02-03 01:16] jgravois opened #7 "update project readme w/ info for the public"
in addition to providing information geared toward internal contributors, contextual information needs to be added for the public (ie: info for consumers in addition to contributors).

1. we need to explain that this is a random collection of samples that have proven useful in individual situations, but that we make no claims as to their fitness otherwise (ie: can people call into support if they

[2015-02-04 20:59] #6 closed, assigned to bsnider

[2015-02-11 01:12] phpmaps commented on #1
@JerrySievert  @jgravois  - It's done.  guidelines for contributions will be the next big ticket item.  Closing this issue down.

[2015-02-11 01:12] #1 closed

[2015-02-13 16:15] jgravois commented on #7
resolved via 238f64e6d9bd6c30956964c752dc97d1423629be
not sure why we're skipping pull requests...

[2015-02-13 16:15] #7 closed

[2015-02-13 18:30] nohe427 commented on #4
Am I tackling the:

"its also important that we document guidelines that explain what is required in order to get contributions merged." :question:

[2015-02-13 18:43] jgravois commented on #4
yup.  we need a document that states:
1. that PRs are required, even from those that have push access to the repo
2. links to documentation that explains more about forking and/or feature branches to keep the master branch clean
3. an explanation of what makes an ideal PR (organized code w/ no unnecessary dependencies which includes substantial enough explanation to make it useful)

[2015-02-19 05:19] alaframboise commented on #4
I agree. This repo is awesome, but having xx number of members with write/push access will result in chaos. I also didn't see a reference to https://github.com/Esri/contributing in the README.md.

[2015-03-12 22:51] nohe427 commented on #4
Added this to the wiki:

https://github.com/Esri/developer-support/wiki/Resources-To-Learn-Git

[2015-03-13 02:15] jgravois commented on #4
:+1: linked to this new wiki in #16

closing.

[2015-03-13 02:15] #4 closed

[2015-03-17 17:31] jgravois opened #18 "doc on merging pull requests"
can someone take a stab at writing up documentation (similar to [this](https://github.com/Esri/developer-support/blob/master/CONTRIBUTING.md)) which outlines what to check for prior to merging pull requests?

* use something like [this](http://jbt.github.io/markdown-editor/) handy live markdown editor to copy-edit
* if code is present, run it and confirm it generates the expected outcome
* make su

[2015-03-17 17:37] jgravois opened #19 "doc on submitting pull requests"
can someone take a stab at writing up documentation (similar to [this](https://github.com/Esri/developer-support/blob/master/CONTRIBUTING.md)) which outlines the general steps for submitting a pull request?

* fork the repository
* clone a copy of the repository locally
* make sure local `master` is up to date with the commits `upstream`
* create a new feature branch
* add a new code sample, and o

[2015-03-20 22:09] jgravois commented on #18
see additional discussion [here](https://github.com/Esri/developer-support/pull/20#issuecomment-83215963) for a little more in-depth explanation of what i have in mind.

[2015-03-27 03:13] jgravois commented on #19
@afili's sample is *excellent*, but I just realized it's important for us to note in our instructions that contributors need to make sure they are not sharing code provided by a customer (or adapted from code supplied by a customer) unless they have explicit permission to open source it.

can someone else take a stab at including this information in our doc and submit a fresh PR?

[2015-03-27 16:27] jgravois opened #27 "random issues"
a few random issues we discussed last night:

- [x] perhaps the pythonistas want to rearrange the directory structure for desktop python samples, online samples and server admin samples that don't actually import `arcpy`?
- [ ] desktop SDK needs to come up with a convention for what exact code they will include in a sample generally and some generic documentation that explains how to wedge it into

[2015-03-27 20:25] AshleyDesktop commented on #27
I can imagine having these folders:
arcpy-python
restapi-python

I'm not sure how to reorganize. I can manually create a new folder and move the scripts to the new location, but this will force set every python script in the restapi-python folder to have me as the only contributor. This means that the conversations leading up to each pull request may be lost, I think. Is there a better way to do t

[2015-03-27 20:50] nohe427 commented on #27
Maybe Python versus ArcPy required

[2015-03-27 20:54] jgravois commented on #27
have no fear @AshleyDesktop !  a Pull Request like that should end up showing a diff like 50c5795ebf7010b0ca8b999950a6b9e64d3b59a7

as far as organization goes, i like your idea.  i'd recommend *rest-api-python* for readability.

[2015-03-31 19:27] jgravois opened #28 "combine 'images' folder and 'repository images' folder"
and update all relevant links.

[2015-04-01 21:52] aOrtego commented on #27
If anyone would like a video-copy of John's presentation, you can access it here: //ANDREWO/Users/andr7495/Documents/GitHub/John_Presentation

[2015-04-01 22:00] NoashX commented on #27
I found it's a little bit easier to access here:
\\ANDREWO\Users\andr7495\Documents\GitHub\John_Presentation

And here is a screenshot of the whiteboard at the end
![gitexcited_workflow](https://cloud.githubusercontent.com/assets/2190813/6953679/dccca716-d87f-11e4-9324-d98ef9518bc2.jpg)

[2015-04-01 22:02] aOrtego commented on #27
April Fools!

[2015-05-05 16:22] jgravois commented on #19
resolved by #31

[2015-05-05 16:22] #19 closed

[2015-05-06 15:57] nohe427 commented on #27
As for point two:

<blockquote>desktop SDK needs to come up with a convention for what exact code they will include in a sample generally and some generic documentation that explains how to wedge it into a new visual studio project so that they aren't importing entire visual studio solutions for code samples that are typically quite small.</blockquote>

I believe that the small snippet of code cou

[2015-05-06 16:20] jgravois commented on #27
not sure i follow your logic.  are you talking about for uploading code sample *items*?  can you PR this so we can take a look at what you mean?

[2015-05-13 14:48] nohe427 commented on #28
Resolved in pull request #37 :+1:

[2015-05-13 16:09] #28 closed

[2015-05-26 19:52] nohe427 commented on #27
In the desktop SDK repository, you only want to class files that are required to provide a background on the logic that is used.

What I would suggest, is that we allow for a location on our ArcGIS.com organizational account for use to upload samples with embedded data.  That way, if the user wants a working sample that they would not have to manipulate too much, they can download the solution fil

[2015-06-04 00:49] jgravois commented on #27
sounds reasonable to me.  when you have an actual sample you'd like to share, we can take the opportunity to review the PR very closely (asking someone very inexperienced in ArcObjects development to QA) to confirm that the approach makes sense and that we have enough documentation to actually run the code.

[2015-06-16 22:07] jgravois opened #48 "add links in contributor help to 'github guides'"
i just found this [great site](https://guides.github.com/) which breaks out a variety of essential github/git topics into bite sized articles and videos.  its a great resource so i think it'd be a good idea to include links from our own help.

anyone up for tackling this 'enhancement'?

[2015-06-28 08:36] jgravois commented on #48
this too: https://twitter.com/cthydng/status/575483540202106880?s=09

supremely concise.

[2015-07-01 22:34] jgravois opened #56 "remove 'Support Services' as a group with push access to this repo"
everyone knows im **all for** open source and 'defaulting to open', but i think we went a bit overboard giving the entire [Support Services](https://github.com/orgs/ArcGIS/teams/support-services) team `push` access to this repo and consequently automatically subscribing them to email notifications regarding its activity.

#### why?
1. i've received a couple emails from users who felt the notificat

[2015-07-01 22:52] nohe427 commented on #56
I'd like the idea.  I have been pushing a lot of new updates lately and think it would be beneficial if I didn't email 60+ ppl everytime I submit a PR.

[2015-07-02 20:21] afili commented on #56
I like the idea too. So basically what we are saying is that we will have a smaller group of people with write access, so only these people will be receiving emails and will be able to push directly to the repository. Also, this does not limit a person with read-only access to contribute since he/she can still fork and submit a pull request. Then somebody else with push permissions can merge. Is t

[2015-07-02 20:25] jgravois commented on #56
exactly. :smile:

[2015-07-02 20:41] nohe427 opened #58 "Close the 1.0 public milestone"
The 1.0 public release milestone has been completed.  Can we mark it as completed or close it?
[Milestone 1](https://github.com/Esri/developer-support/milestones/1.0%20(public%20release))

[2015-07-02 20:48] jgravois commented on #58
done

[2015-07-02 20:48] #58 closed

[2015-07-06 23:56] smnorris opened #59 "broken link"
In extract-json-from-arcmap-layer, the mxd to msd link is broken.

http://ess.maps.arcgis.com/home/item.html?id=2467871513044597a6a64c9d9d025627

[code]

[2015-07-06 23:58] phpmaps commented on #59
Thanks for pointing this out.. let me see if I can work the proper link.  Stay tuned.

[2015-07-07 00:09] phpmaps commented on #59
Ok, so I know what happened.  That account (which was mine) was just recently deleted - not sure what the process is for getting back that content.  I assume I have it somewhere on disk ... I am first checking with an Admin.

[2015-07-07 15:16] nohe427 commented on #27
Another good example of why we should have a standard location to give data to a certain user on ArcGIS Online would be to prevent accidental deletion like what happened in #59.  Let me know what you think on creating a standard user to hold sample data.

[2015-07-09 01:14] jgravois opened #61 "make sure javascript samples link to 'gh-pages' branch in readme as demo"
for example, in 2945f5ae663375828b5ad35b6c99e10e7537259d we'd be better off linking to the app [here](http://esri.github.io/developer-support/web-js/dynamic-layer-popups/) than [here](https://dl.dropboxusercontent.com/u/79881075/dynamic-layer-popups.html)

my presentation slides can be found here:
http://jgravois.github.io/presentations/git-er-done-2/

[2015-07-09 01:14] jgravois commented on #61
this will require that we keep the `gh-pages` branch in sync with `master`

[2015-07-09 04:09] jgravois opened #63 "minor error in 'SUBMITPR.md'"
~~or "Download ZIP" button~~

when selecting 'Download ZIP' only the current state of the files in the repository are packaged, commit history and information about other branches is stripped out (more info [here](http://www.quora.com/Git-What-is-the-differences-between-forking-cloning-and-downloading-the-project-as-a-zip)).

anyone **new** game for making this small change and submitting a pull r

[2015-07-09 16:46] jgravois opened #65 "add the toolbox photo back to the readme!"
i just realized there was a funny desk drawer image in the repo readme a long time ago.

https://github.com/Esri/developer-support/blob/e33e94c62785877e85514e99e5ae3f5bcb615774/README.md

i think we should bring it back!

[2015-07-09 16:57] #63 closed

[2015-07-09 17:06] nohe427 commented on #63
@jgravois By referencing this issue in PR 64, did this automatically close the issue?

[2015-07-09 17:09] jgravois commented on #63
[yup](https://help.github.com/articles/closing-issues-via-commit-messages/).  extreme bonus points to @danmaps :smile:

[2015-07-10 15:36] #65 closed

[2015-07-10 18:43] jgravois commented on #61
happy to leave this closed, but it'd be helpful for folks to go back through more existing samples and add live links to the readmes...

[2015-07-10 18:47] nohe427 commented on #61
@jgravois I think most of the web-js readmes were updated to reflect the gh-pages links.  There is only one that is not reflecting the gh-pages link and that may be because the gh-pages branch is no longer in sync with master

[2015-07-10 18:51] jgravois commented on #61
oh sweet.  i see it in the commit history now.  let me know if y'all need any help merging the latest changes on `master` into `gh-pages` locally and then pushing upstream.  as long as people keep their work **off** the `gh-pages` branch itself, it'll always be a simple [fast-forward](http://ariya.ofilabs.com/2013/09/fast-forward-git-merge.html).

[2015-07-10 18:54] nohe427 commented on #61
@jgravois I was trying to fast forward it earlier today and was having trouble doing so.  Would you be able to do it on your end?

[2015-07-10 19:00] jgravois commented on #61
done.

[code]

[2015-07-10 19:03] nohe427 commented on #61
Pull request #68 should be the last sample.

[2015-07-16 18:58] #61 closed

[2015-07-21 23:39] jgravois opened #79 "suggestions for improvements to the 'Join Data Source' sample"
a customer at UC just showed me a really cool sample in here where we show how to create a join on the fly and create a new renderer using DynamicLayers [here](https://github.com/Esri/developer-support/tree/master/web-js/join-data-source) but she was having a hard time understanding what was going on.

in helping her digest the sample, i have the following suggestions for improvements:
- [x] JS an

[2015-07-21 23:46] goldenlimit commented on #79
Hi John let me take a shoot

[2015-07-29 16:00] NoashX commented on #56
I'm on board for this new system as well. Then maybe a couple weeks/months down the road we can have another GitHub Brown Bag sessions and recruit some new folks for the smaller admin team.

[2015-07-29 18:07] #79 closed

[2015-07-29 18:35] marlak opened #90 "Search widget is under a div"
Going to fix shortly just wanted to add a reminder.

Sample:
web-js/search-widget-with-customized-geocoder-server

![image](https://cloud.githubusercontent.com/assets/6852743/8966382/f66004e8-35e5-11e5-832b-350695135944.png)

[2015-07-29 21:27] afili commented on #56
Sounds good. Brought this up during group meetings and most analysts like the idea. Management is also on the same page.

[2015-07-29 22:54] phpmaps commented on #56
@afili @jgravois  ok i am on board.

[2015-07-30 16:18] marlak commented on #90
Closing out issue
Changed the info div from the top to the bottom of the page so it doesn't overlap the search widget.

 #info {
            bottom: 2px;
            color: #444;
            height: auto;
            font-family: arial;
            font-weight: bold;
            left: 69px;
            margin: 5px;
            padding: 10px;
            position: absolute;
            width: 260px

[2015-07-30 16:18] #90 closed

[2015-07-30 22:50] marlak opened #96 "update this sample to use on style events"
[Popup in side panel](https://github.com/Esri/developer-support/blob/master/web-js/popup-in-sidepanel-with-feature-layer/Popup_Sidepanel_withFS_Sol.html) Time for some Updates :smile:
  1. use on style events instead of connect.
  2. update comments to be more relevant

For example 1:
[code]

For example 2:
An ArcGIS Online web map isn't being used in this sample
[code]

[2015-07-31 18:42] phpmaps commented on #96
Well done!

[2015-07-31 20:52] marlak commented on #96
Haven't quite gotten to it yet but I will! :smile:
It's nice to put in reminders for myself or if anyone wants to take a stab at it :+1:

[2015-08-03 23:32] marlak opened #99 "AppStudio Folder"
Hey guys!

I was just chatting with @esoekianto and @bsnider about possibly creating a folder for [appStudio](http://appstudioprd.arcgis.com/) (qml) samples. It just went into beta 3 and started coming in all the support channels so we thought it might be a good idea. Any thoughts? :thought_balloon:

[2015-08-03 23:34] NoashX commented on #99
:information_desk_person: totally! sounds like a good idea, I'm sure it'll grow real soon

[2015-08-04 00:10] nohe427 commented on #99
I'd say once we have something to put in there let's create it.

[2015-08-04 00:16] goldenlimit commented on #99
@nohe427 Work from :house:? That's too much :neutral_face:

[2015-08-04 17:44] nohe427 commented on #99
@goldenlimit Nah, I am on campus this week.

[2015-08-10 15:22] #96 closed

[2015-08-12 21:40] marlak opened #103 "Live sample for the Layer Swipe"
Whoopsies @goldenlimit , it looks like this [app](https://github.com/Esri/developer-support/tree/master/web-js/layer-swipe-over-feature-layer) doesn't have a valid live sample.

[2015-08-12 22:24] nohe427 commented on #103
I fixed it :octocat:

[2015-08-12 22:24] #103 closed

[2015-08-17 18:57] jgravois commented on #56
ok.  i just went ahead and trimmed down the 'Developer Support' team to 29 members and notified those removed that we are happy to add them back if they're interested in getting involved.

[2015-08-17 18:57] #56 closed

[2015-08-17 18:59] jgravois commented on #56
fyi, removing someone from a group doesn't automatically unsubscribe them from repositories so we still have almost 70 watchers.  this seems fine to me.

[2015-08-19 18:42] bsnider commented on #99
@nohe427 I recommend we maintain two separate folders.  The AppStudio framework is built with a folder structure that wraps the Qt Runtime for ArcGIS.  The import paths to the same modules therefor vary when using AppStudio vs the 'pure' Qt Runtime for ArcGIS.

[2015-08-26 23:11] afili commented on #56
awesome! thank you @jgravois

[2015-09-16 22:19] nohe427 opened #109 "Create AppStudio Samples"
@bsnider has been tasked with creating AppStudio Samples.

The samples are designed to showcase a particular component (or small number of related components) without the clutter of a full app. Users should be able to copy qml from a sample (preferable taking a whole qml file) and drop it into their own app.

These are the samples he needs:
- [x] Edit points, lines and polygons –Edit existing feat

[2015-09-16 22:20] nohe427 commented on #109
I call dibs on:

Capture lines and polygons - Capture a new line or polygon feature with either screen taps or GPS/Location coordinates

[2015-09-16 23:25] marlak commented on #109
Sounds like a good challenge...I'm in!

I'll take this slice of the :cake:
Attribute editing – Select an existing feature and edit its attributes

[2015-09-16 23:37] bsnider commented on #109
Thanks @nohe427 and @marlak!  Let's make some cool :telephone: apps!

[2015-09-17 00:02] bsnider commented on #109
Kevin Burke has taken on the Edit points, lines and polygons sample!  He will be joining us on GitHub soon

[2015-09-21 21:37] andr7430 commented on #109
I will take number :three:

[2015-09-22 20:40] bsnider commented on #109
Thanks @andr7430!

[2015-09-23 14:57] nohe427 commented on #109
As discussed in last nights meeting I believe @goldenlimit is taking on issue number 5?

[2015-09-29 16:46] benstoltz opened #122 "ES2015 Samples"
So as some of you may be aware there is a new version of ECMAScript out known as ES2015. It introduces new syntax and some different ways of developing with our JS api. I've been working on a few samples. I propose creating a new folder to hold these samples.

Thoughts?

[2015-09-29 16:49] NoashX commented on #122
Sounds like a good idea to me @benstoltz!

[2015-09-30 00:17] goldenlimit commented on #109
My sample for Snapping Line feature is coming :ocean:

[2015-10-01 22:11] NoashX commented on #48
I'm interested @jgravois, having just gone through a tutorial of using SourceTree with the help of @afili. Did you envision an entire new page about GitHub worklows, or just a couple of sentences and links on the README or CONTRIBUTING pages?

[2015-10-01 22:19] goldenlimit commented on #48
@jgravois @NoashX I do think currently we need more practices on Github using. I do feel I got a little better but still daily usage is really a good lesson as well! :thu

[2015-10-01 23:25] NoashX opened #129 "web-leaflet MultMaps sample has map missing"
looks like the sample here: http://esri.github.io/developer-support/web-leaflet/multiple-maps-connected-extent/index.html

has some missing tiles in the first map (e.g. https://b.tiles.mapbox.com/v3/examples.map-i875mjb7/8/68/95.png)

![mapdown](https://cloud.githubusercontent.com/assets/2190813/10236293/ced65ada-6858-11e5-90f6-11332aa984a7.png)

[2015-10-05 15:56] benstoltz commented on #129
Yeah, it seems like the original mapbox map ID is no longer valid. We just need to update it to one that works.

[2015-10-05 19:55] nohe427 commented on #122
Let's see these samples @benstoltz :space_invader: :octocat:

[2015-10-05 19:56] nohe427 commented on #99
Since we do have some appstudio samples that can be used sitting in the qt folder, I will move them over to an appstudio folder and then close this issue

[2015-10-05 20:02] #99 closed

[2015-10-05 23:16] goldenlimit commented on #129
This issue has been fixed. https://github.com/Esri/developer-support/issues/133
Therefore we closed :smiley:

[2015-10-05 23:16] #129 closed

[2015-10-13 19:33] #48 closed

[2015-10-13 19:34] #18 closed

[2015-10-14 18:28] jgravois opened #143 "condemn force pushing"
we should mention explicity in the readme that pushing your own commits directly to `master` is strongly discouraged and that force pushing is strictly **prohibited**, ideally going as far as mimicing the exact rules [Level](https://github.com/Level/community/blob/master/CONTRIBUTING.md) lists for their OPEN open source projects.

~~i'd even recommend we go [a step further](
https://help.github.co

[2015-10-14 18:29] benstoltz commented on #143
I'm 100% on board with that, including your step further.

[2015-10-14 18:31] NoashX commented on #143
Agreed on the first. I think we can better message this internally.

The further step concerns me in case there are ever legitimate reasons to self-publish (e.g. fix README typos).  Thoughts?

[2015-10-14 18:40] jgravois commented on #143
force pushing is substantially different than a simple push to fix a typo in a file no one else has edited.  it is typically only attempted when a normal push fails (either because of a merge conflict or difference in the commit history between the clone and the upstream repository
[code]
there is **never** a good reason for anyone to force push to the `master` branch of this repository **ever** a

[2015-10-14 18:42] jgravois opened #144 "add a simple 'how to' or 'instructions for beginners' to the main readme"
looking over the homepage it strikes me that our doc for contributors is a lot more fleshed out than the 95% of users who just want to download and check out the samples...

[2015-10-14 19:43] nohe427 commented on #143
I'd say just get a few managers with merge access.  Other people can still test code and put their thoughts into the issue and when it is ready to be merged in, tag the manager with their @ username call.  e.g. @jgravois

[2015-10-14 19:54] jgravois commented on #143
i understand the appeal, but my vote is that we keep it more of an [open, open source](https://github.com/moose-team/friends/blob/master/CONTRIBUTING.md#collaborating-guidelines) project.

i think we have enough to gain from an educational perspective to justify the risk.

[2015-10-14 19:57] benstoltz commented on #143
I would agree with @jgravois. However I'd say that if someone abused the open nature of this project that they may have their write access revoked. Obviously one or two mistakes wouldn't justify that response, however if it's repeated and consistent then I think that's an appropriate response. Thoughts?

[2015-10-14 21:44] NoashX commented on #144
I worked with @bsnider on a blog about this, targeted towards "Download ZIP" rather than "Clone in Desktop" type users (if that analogy makes sense). It's currently being reviewed.

[2015-10-15 02:51] benstoltz commented on #122
Just getting everything polished up with documentation. Soon...soon.

[2015-11-04 17:20] alaframboise opened #155 "Please add guidelines for contributing samples in the main README.md"
It would be helpful if we published the basic format that was expect for the samples that people want to contribute. Or better yet, even a template.

e.g.

TechnologyCategory/Folder/xxx
TechnologyCategory/Folder/README.md

README.md could contain things like...
- How to get it working
- Requirements
- See it live here...

Few other ideas: A high-level README.md in each TechnologyCategory folder wo

[2015-11-04 17:27] jgravois commented on #155
:+1:

[2015-11-04 22:25] NoashX commented on #155
I concur. Are you imagining something more comprehensive than the current CONTRIBUTING.md
https://github.com/Esri/developer-support/blob/master/CONTRIBUTING.md

Or just placing that content (with a few updates) inside the README.md?

[2015-11-04 22:34] alaframboise commented on #155
Actually, a few things:

1. There's Esri's contributing.md guidelines which is something different than the format we would like to see for samples. Please separate those from the contribution guidelines for samples.
2. Put a clear 1-2-3 example right in the main README.md that shows people exactly what we are looking for in a sample. e.g. folder\xxx folder\readme.md, folder\other...
3. And then t

[2015-11-04 22:38] phpmaps commented on #155
Well the good news is most contributors have added README's with there samples and the format is fairly consistent.  The bad news is there are around 100 samples in the repo which I am assuming need this new style documentation right?

[2015-11-30 16:52] nohe427 commented on #109
Are all of these samples uploaded?  Can we close this issue?

@bsnider @marlak @andr7430 @goldenlimit

[2015-11-30 16:54] goldenlimit commented on #109
@nohe427 I have a new version that haven't update here but I already updated to AppStudio team. I will do it today!

[2015-11-30 17:01] nohe427 commented on #109
@goldenlimit Awesome!  I appreciate it!

[2015-12-04 00:53] #143 closed

[2015-12-04 00:57] jgravois commented on #59
if we can't find the missing toolbox [here](https://github.com/Esri/developer-support/tree/master/arcobjects-net/extract-json-from-arcmap-layer) its probably best for someone (anyone) to just remove the sample.

[2015-12-04 00:58] #27 closed

[2015-12-23 01:46] jgravois commented on #143
i went that [step further](https://github.com/blog/2051-protected-branches-and-required-status-checks).  because they are 'protected branches', it is no longer possible to force push to either `master` or `gh-pages`

[2015-12-23 01:49] phpmaps commented on #143
gone are the days of force pushing.  I will sleep better.

[2015-12-23 18:04] NoashX commented on #143
:+1:

[2016-01-20 15:41] ezequias opened #185 "Web AppBuilder (Developer Edition) pointing to ArcGIS for Server"
Hi everyone

I would like if it is possible to point WAB to an ArcGIS for Server service.

If yes please could you tell me further steps?

Best regards
Ezequias Rocha

[2016-01-20 16:22] NoashX commented on #185
Hi Exequias, I see that you had a similar question here on GeoNet: https://geonet.esri.com/thread/170986

WAB (dev ed) requires ArcGIS Online or Portal for ArcGIS to install. After this, it is possible to use something like the Local Layer Widget that Robert suggested.

Can you explain a bit more about your workflow, and where you are having trouble?

[2016-01-20 16:34] ezequias commented on #185
I am working on a project and I have a ArcGIS for Server 10.3 license and would like to use it's services in a simple web application with javascript.

My web application would have with some basic feature like navigation/geocoding/search-by-attribute/print/enabeling layers and legend.

The steps LocalLayer Widget suggest me where to complicated for me.

Sincrely
Ezequias Rocha

[2016-01-20 17:01] NoashX commented on #185
Ok, here's a couple of options. First, please note that the instructions for installing the Web AppBuilder must be followed to get up and running, and that WAB does not support consuming Map Services directly (they need to be stored in a webmap in AGOL or Portal).

1) WAB dev ed
https://developers.arcgis.com/web-appbuilder/guide/getstarted.htm
Follow these instructions, add the map services from A

[2016-01-22 17:59] #185 closed

[2016-01-28 16:29] #109 closed

[2016-01-28 16:29] nohe427 commented on #109
I believe all samples have been merged into the appstudio official samples.

[2016-02-01 21:46] jgravois opened #195 "no need to use the word 'repository' in the project readme title"
all github projects are repositories :smile:

[2016-02-01 22:32] smnorris commented on #59
Now that I look more closely (6 months later!) I see that it is just an arcpy.mapping tool, so it should be available to any user with arcgis desktop installed.

[2016-02-02 19:21] jgravois commented on #59
@smnorris thanks for taking the time to write back.  does this mean its safe to close this issue now?

[2016-02-02 21:07] smnorris commented on #59
Sure but you might want to remove the existing link and point to the tool's
documentation instead.

On Tue, Feb 2, 2016, 11:22 AM john gravois <notifications@github.com> wrote:

[2016-02-04 16:34] nohe427 commented on #195
I think a lot of people use the word repository in their readme files.  If you look at Microsofts for vscode, they have the word repository used to describe what the location is:
https://github.com/Microsoft/vscode

Another example:
https://github.com/Microsoft/dotnet-apiport

While it is inherently obvious what it is, this type of language is common in English.  For example (might be a bad exampl

[2016-02-04 17:21] MarieAshley commented on #195
I think it's fine the way it is. It's not quite as bad as "The department of redundancy department." :smiley:  However, if we want to keep at short and sweet, "Welcome to Developer Support" or "Welcome to Esri's Developer Support" seems perfectly acceptable as well.

[2016-02-04 17:26] jgravois commented on #195
thats true, but neither one of your examples use the word in the title.  i edited the title to clarify.

i'm not suggesting we eradicate every last mention of the word *repository*, i'm just providing some persnickety copyediting suggestions.  i count 5 references (one misspelled) between the title(s) and introduction to the project and it feels like too much.

additional clarity could certainly b

[2016-02-04 17:50] jgravois commented on #144
to clarify what i mean, i'm suggesting a new section in the projects main README which provides some simple instructions for making use of the project aimed at those who are not *contributors*, but rather *consumers*.

if someone looking to get more experience with Git/GitHub wants to help with this, that would be ideal.

[2016-02-04 18:10] nohe427 commented on #195
I get what you are saying.  Sounds good :+1:

[2016-02-16 09:31] trillevine opened #202 "Value error while pinging"
Hello,

I'm testing out this script and am getting a value error stemming from this line:

![ping](https://cloud.githubusercontent.com/assets/7161139/13072186/1664ee6a-d498-11e5-94e1-b01560158ac4.PNG)

The traceback reads:

![ptrace](https://cloud.githubusercontent.com/assets/7161139/13072203/3357de88-d498-11e5-8714-55d4e5e84c2b.PNG)

Any ideas?  I'm using Python 2.7...I might be wrong, but the pr

[2016-02-16 11:37] ceddc commented on #202
Hi,

Related to : https://github.com/Esri/developer-support/blob/4be899d846c691998a919b6d2093b8bcd8ced583/python/general-python/create-replica-and-download/createReplicaAndDownload.py

Are you sure you are using python 2.7 and not 2.6 (check system variable, or run <fullpath to 2.7>/python)

Cf : http://stackoverflow.com/questions/5446964/valueerror-zero-length-field-name-in-format-error-in-python

[2016-02-22 07:38] trillevine commented on #202
Hi, thanks for the response, sorry for the delay, was out sick last week.  You're right, I'm using 2.6 on this machine, my mistake...have 2.7 on another virtual machine.  Will check these links out, thanks for the info!

[2016-03-01 15:05] #202 closed

[2016-03-02 11:33] trillevine opened #207 "Empty Zip File"
Hello,

I've been using this script daily for two weeks without problems, but since yesterday I keep getting an empty zip folder as my result.  I've tried it with several different services and it's happening regardless.  Any ideas?  Feedback greatly appreciated!!!

[2016-03-02 12:25] ceddc commented on #207
Hi,

please link to the script you are using ! :smile:

[2016-03-02 12:27] trillevine commented on #207
Hi, sorry -- this one:

https://github.com/Esri/developer-support/edit/master/python/general-python/create-replica-and-download/createReplicaAndDownload.py

[2016-03-02 13:24] MarieAshley commented on #207
Hey!

After the script completes, type jsonResponse into the interpreter. You should see a resultUrl. Grab that url and paste it into a browser. Does the replica download? This may help isolate the issue.

[2016-03-02 13:35] trillevine commented on #207
Hi, when I toss the jsonResponse URL into Firefox, I get the following response:

![jsonresponse](https://cloud.githubusercontent.com/assets/7161139/13461775/e6fa4aec-e083-11e5-84c8-5e1b879679d3.PNG)

FWIW, I'm also on the ArcRest repository mailing list, and someone just opened an issue with the same problem.  Maybe it's something on the server side.

[2016-03-04 13:14] MarieAshley commented on #207
Resolved in https://github.com/Esri/developer-support/pull/208
:smiley:

[2016-03-04 13:14] #207 closed

[2016-03-18 18:52] david-chambers opened #212 "Unable to merge or fast forward between gh-pages and master branches"
I just submitted pull request #210 containing a JS sample with a sample URL to our gh-pages branch.  After the PR was approved I was planning to fast forward or submit another PR between gh-pages and master so my readme sample URL was correct per #61. However it seems that an auto-merge is not possible here #211. Did I do something wrong here or is our master and gh-pages branch out of sync?

[2016-03-18 19:13] jgravois commented on #212
@phpmaps has pushed 14 commits directly to the `gh-pages` branch with changes that conflict with work that was pushed into `master` since the last time they were syncronized.

**please**, **never** push your work directly to **either** of those two branches.

all work should be performed in a uniquely named branch and incorporated into `master` after code review through a pull request.  if this is

[2016-03-18 19:36] phpmaps commented on #212
I apologize in terms of gh_pages I guess I though direct pushes were okay there.  Is the message below mean I should never do this?  LMK

From: john gravois [mailto:notifications@github.com]
Sent: Friday, March 18, 2016 12:13 PM
To: Esri/developer-support <developer-support@noreply.github.com>
Cc: Doug Carroll <DCarroll@esri.com>
Subject: Re: [developer-support] Unable to merge or fast forward bet

[2016-03-18 19:40] david-chambers commented on #212
@jgravois Thanks John that's what I had assumed.  How do we go about fixing this? Let me know if there is anything I can do to help.

[2016-03-18 19:43] jgravois commented on #212
i'm all about learning opportunities, so i'd like to leave it up to any brave souls who haven't already encountered something like this to make a suggestion so we can come to an agreement about the best approach to get everything back in an appropriate state.

[2016-03-18 19:49] nohe427 commented on #212
I was hoping you could just force push the latest and greatest to gh-pages
On Mar 18, 2016 3:44 PM, "john gravois" <notifications@github.com> wrote:

[2016-03-18 19:52] jgravois commented on #212
a vote for the nuclear option :boom:

unless additional measures were taken, this would rewrite history in the `gh-pages` branch and blow away all the unique work thats currently only present there.

[2016-03-18 20:03] phpmaps commented on #212
I guess I am having a hard time understanding the problem.  I continue to see all the web pages –I  just used the center helper javascript app yesterday.   Also I see all the code, like normal.

Is the problem that people are able to continue to contribute / create branches and merge?

LMK

From: john gravois [mailto:notifications@github.com]
Sent: Friday, March 18, 2016 12:44 PM
To: Esri/develope

[2016-03-18 20:03] NoashX commented on #212
this would nicely fold into the SDK WAM #GitHub Worflows with @jgravois (03/23, 1pm, Building V)

[2016-03-18 20:06] goldenlimit commented on #212
Previously I messed up my branch locally but the best way to learn is messup stuff and fix it. Welcome @jgravois 's coming

[2016-03-18 20:10] jgravois commented on #212
the problem is that @david-chambers encountered a merge conflict when he attempted to incorporate the last several months of work that was done on `master` because the history of the two branches has diverged.

[2016-03-19 09:31] phpmaps commented on #212
I see.  In terms of problem solving - what about David fetch from upstream and merge in the new changes.  On a different note David let me know if there is something you need from me -  sounds like I jacked up everyones day up pretty badly.

From: john gravois <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Esri/developer-support <reply@reply.github.com<mailto:reply@reply.git

[2016-03-19 11:58] jgravois commented on #212
when @david-chambers created PR #212, he was already comparing the correct two upstream branches, but @phpmaps is 100% correct here.

it is **not** possible to merge a PR using github's online tools when a conflict is detected, but it **is** possible to merge the same work locally by stepping through individual conflicts and resolving them manually.

@nohe427's solution technically *would* work, b

[2016-03-21 18:02] nohe427 commented on #212
@david-chambers and I resolved this together.

[2016-03-21 18:02] #212 closed

[2016-03-21 18:06] david-chambers commented on #212
Yep! huge kudos to @nohe427 we followed the command line instructions for resolving the merge conflicts (there were two) in @phpmaps samples and then we were able to auto-merge from GitHub.  Glad we didn't have to :boom: it.

[2016-03-23 19:31] #195 closed

[2016-03-23 20:37] jgravois opened #218 "duplicate 'live sample links' in 4.x extrude sample"
https://github.com/Esri/developer-support/tree/master/web-js/4.x/extrude

there should be only one

[2016-03-23 20:37] jgravois commented on #218
looking for help from someone new-ish to github

[2016-03-23 20:40] jgravois opened #219 "time to prune stale branches"
we have quite a few stale branches in this repository that can/should be deleted.

https://github.com/Esri/developer-support/branches

most have already been merged.  the only one ahead of master is 'Nick's-Branch', but i've confirmed with @nhaney90 that the commits made their way into `master` so it can be deleted as well.

[2016-03-23 20:43] jgravois opened #220 "remove cedar-charts-guage sample"
https://github.com/Esri/developer-support/tree/master/web-js/cedar-charts-guage

this is why we do code review... assigning to sample author.

[2016-03-23 20:45] phpmaps commented on #220
I can add it.

[2016-03-23 20:53] jgravois opened #221 "'wgs-to-webmercator' sample readme needs a 'live sample' link"
https://github.com/Esri/developer-support/tree/master/web-js/wgs-to-webmercator

[2016-03-23 20:54] jgravois commented on #220
thanks.  **please** create a branch and PR.

[2016-03-23 21:15] NoashX commented on #218
i think they are two different links with the same name? the repo has two different sample apps in it...

[2016-03-23 21:41] jgravois commented on #218
good point.  i think it'd be clearer though if the text of the links provided some differentiation.

[2016-03-28 07:05] hhkaos opened #222 "Static map class using JavaScript API"
A few months ago I create a class to make easier to generate static images, could I add a code sample using [this class](https://github.com/esri-es/Static-Maps-API-ArcGIS)?

Cheers,
Raul

[2016-03-28 07:07] phpmaps commented on #222
Yes, please do collaboration is great.  Thanks Raul.

From: Raul Jimenez Ortega <notifications@github.com<mailto:notifications@github.com>>
Reply-To: Esri/developer-support <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, March 28, 2016 at 12:05 AM
To: Esri/developer-support <developer-support@noreply.github.com<mailto:developer-support@noreply.github.com>>
Subject: [developer

[2016-03-28 16:18] goldenlimit commented on #222
@hhkaos Feel free to send a pull request to "web-js" folder, and make sure follow this contributing post: https://github.com/Esri/developer-support/blob/master/CONTRIBUTING.md

Thanks for your efforts! Welcome

[2016-04-03 15:53] hhkaos commented on #222
I hope this works! :)
https://github.com/Esri/developer-support/pull/224

Thanks

[2016-04-03 15:59] hhkaos opened #225 "Web AppBuilder Custom Widget Directory"
I publish a repo a few months ago with a list of custom widgets:
http://esri-es.github.io/Web-AppBuilder-Custom-Widgets/

Do you think that this could be something interesting to add [here](https://github.com/Esri/developer-support/tree/master/web-app-builder/)? I'm not sure because the source code is not hosted directly on that repo, instead it is linked to the owners original source.

Cheers,
Ra

[2016-04-04 16:11] NoashX commented on #225
Hi @hhkaos, I do not think that this is the best place for a list of custom widgets. We really want to focus on code that we and the community have written ourselves. Thank you for thinking of us, and perhaps you could promote this resource on `[GeoNet](https://geonet.esri.com/welcome)`?

[2016-04-04 16:26] jgravois commented on #225
i think having a link to your external app in a generic `./web-app-builder/README.md` would be helpful for folks that are trolling for sample code.

[2016-04-04 16:27] NoashX commented on #225
:+1:

[2016-04-05 11:50] hhkaos commented on #225
Great John, that would be great :)

[2016-04-05 15:35] jgravois commented on #225
lets leave this issue open until someone creates a Pull Request adding what i mentioned above.  this is another great opportunity for someone just getting started, so don't be shy if you need more clarification.

[2016-04-10 23:26] hhkaos commented on #225
@jgravois I'm glad to create that README, what else should be inside? I'm checking but I can't see any root folder with README.md.

Should we add links to external sites with resources for developers?, like:
* [WAB videos at video.esri.com](http://video.esri.com/search/web-appbuilder)
* [GeoNet groups](https://geonet.esri.com/places?query=appbuilder)
* [Developers site documentation](https://devel

[2016-04-10 23:33] hhkaos opened #227 "Add node-arcgis samples"
Hi everyone,

I would like to start adding some [node-arcgis](https://github.com/Esri/node-arcgis) code sample, would that be ok?

Cheers!

[2016-04-17 19:08] jgravois commented on #227
yes.  adding examples directly to the `node-arcgis` repo would probably be a good idea too.

cc/ @nikolaswise

[2016-04-17 19:08] #227 closed

[2016-04-17 19:09] jgravois commented on #225
those all sound good to me.

[2016-05-02 12:11] hhkaos commented on #225
Pull request done 😄

[2016-05-19 08:23] Jimeno0 opened #230 "Cedar interacting with 3D Maps"
Hi there,

Recently I was testing the 3D Maps and the Cedar Graphics and I have developed two little examples showing how Cedar works and how to make that the Cedar graphics interacts with the map. Those two examples are very similar:

* [First example using pie graphics](http://jimeno0.github.io/3DEsriMaps/3DmapCedarPie.html)

*  [Second example using horizontal bars graphics](http://jimeno0.gith

[2016-06-14 16:54] #225 closed

[2016-06-21 17:42] jgravois commented on #230
sorry for the delayed response.  that sounds great!
we're looking forward to reviewing your Pull Request.

[2016-06-21 18:08] benstoltz commented on #230
I've somewhat adopted Cedar, so definitely interested in the samples :)

[2016-06-22 13:56] benstoltz commented on #222
Closing out this issue as a PR got merged back in April. Thanks @hhkaos!

[2016-06-22 13:56] #222 closed

[2016-06-22 14:02] benstoltz commented on #219
@jgravois Cleaned up most of them. Should be good to go.

[2016-06-22 16:23] #219 closed

[2016-06-22 16:24] doneill opened #238 "runtime-android/sync-gdb-in-background missing res folder"
I am trying to update the sync-gdb-in-background android demo, beyond adding the gradle wrapper and updating the ignore list there are references to resources but the **res** directory is missing.  I can try to piece together a res file based on what the project needs, but best if we can introduce a proper res folder.

[2016-06-22 16:58] doneill commented on #238
I've resolved icons, styles, but the strings will be an issue :-)

[2016-06-22 17:16] nohe427 commented on #238
Hey @doneill,

Thanks for using my sample!  This is the string resources I am using:

[code]

I didn't include the res file so as to not bloat the repository with extra images and strings.  I was worried I was sending too much data.

Are there some other items I can assist with in regards to this sample?

[2016-06-22 17:19] nohe427 commented on #238
Hey @jgravois & @doneill !

The res file did not bloat the repository as much as I originally assumed it would.  I went ahead and included it in pull request #239

[2016-06-22 19:57] doneill commented on #238
Thanks @nohe427, Yes you should include everything to allow a developer to build the module.  I updated the gitignore list which details the files that should not be included.  I also added the gradle wrapper jar file and scripts, I know this repo explicitly ignores jar files but we need it such that developers do not need to have Gradle on their machine to run the demo.  Google recommends this.

[2016-06-22 20:08] nohe427 commented on #238
Hey no worries. If we could chat about what should be required for Android
samples later, I would appreciate it
On Jun 22, 2016 3:58 PM, "doneill" <notifications@github.com> wrote:

[2016-06-22 20:08] doneill commented on #238
@nohe427 Merging that PR helped, but nothing is happening in the app.  I will dig deeper into the app source but on start I get the following app screenshot:

![bg-sync](https://cloud.githubusercontent.com/assets/1308001/16281710/750029e4-387a-11e6-9441-2f45d6f402a1.png)

[2016-06-22 20:23] nohe427 commented on #238
Give it two minutes
On Jun 22, 2016 4:08 PM, "doneill" <notifications@github.com> wrote:

[2016-06-22 20:24] nohe427 commented on #238
I have it set up with alarm manager in the intent service
On Jun 22, 2016 4:08 PM, "doneill" <notifications@github.com> wrote:

[2016-06-22 20:56] doneill commented on #238
@nohe427 So what is the user workflow?  Do you need to sync a database from another app?  Trying to verify this is working as expected.

[2016-06-29 16:51] #59 closed

[2016-06-29 16:52] nohe427 commented on #238
Hey @doneill ,
I think we resolved a lot of this offline.  Do you still have lingering questions here or can this be closed?

Thanks,
@nohe427

[2016-07-01 20:39] #230 closed

[2016-07-12 22:11] doneill commented on #238
Thanks @nohe427, yes you can close as resolved.  Thanks!

[2016-07-14 18:43] jgravois commented on #220
@phpmaps please create a README to document your sample.

[2016-07-14 18:44] jgravois commented on #122
we're always happy to accept new samples, but this doesn't require an issue to be held open.

[2016-07-14 18:44] #122 closed

[2016-07-14 18:46] #238 closed

[2016-07-14 18:46] benstoltz commented on #122
@jgravois yeah, this was originally more of a reminder for me. Life got away so haven't worked on it. I'll get some pr's going at some point.

[2016-07-14 18:51] jgravois commented on #220
your web-leaflet/[drag-drop-geocoding](https://github.com/Esri/developer-support/tree/gh-pages/web-leaflet/drag-drop-geocoding) sample needs a README too. particularly since the sample doesn't work because you hardcoded a stale token.

for the last time, **PLEASE** start participating in code review.  the samples you are pushing up on your own are desperately in need of it.

[2016-07-14 19:00] phpmaps commented on #220
@marlak @jgravois  Humm.. Marla did the code review.  I also think you checked in the gh-pages work which intentionally did not have a readme.  I merged nada.

[2016-07-14 19:08] jgravois opened #249 "delete 'master' branch and just make 'gh-pages' the default branch"
my original plan was to follow up and write documentation to explain to people some do's and donts for managing multiple branches and keeping them synchronized, but i think it'd be ~3x easier to just get rid of the `master` branch entirely and make `gh-pages` our default branch.

## what is `gh-pages` anyway?

naming a branch `gh-pages` is just a handy shortcut provided by github to let them know

[2016-07-14 19:10] jgravois commented on #218
to clarify, i meant that we update the readme to something like this:

[Live Sample - NYC](http://esri.github.io/developer-support/web-js/4.x/extrude/nyc.html)
[Live Sample - Cube](http://esri.github.io/developer-support/web-js/4.x/extrude/cube.html)

[2016-07-14 19:12] jgravois commented on #221
you can find an example of what i'm asking for here:
https://github.com/Esri/developer-support/tree/master/web-js/buffer-geocoder-result#live-sample

is anyone willing to pitch in and contribute this update?

[2016-07-14 19:22] jgravois commented on #220
okay.  i see.  the confusion here is caused by the fact that you thought that the `gh-pages` branch of this repository was supposed to contain different content than the `master` branch. they are supposed to be identical.

so i must have unintentionally removed the README you included in your PR against the `master` branch when i synchronized.  my apologies.

looking at the history is appears you

[2016-07-15 16:26] afili commented on #249
@jgravois so are we talking about removing the master completely and replacing with gh-pages instead? So whenever we submit a pull request, we will directly compare with gh-pages, is this correct? If yes, I like this idea. Keeping both was always confusing to me.

[2016-07-15 17:01] jgravois commented on #249
yes.  precisely.

[2016-07-15 17:18] NoashX commented on #249
I'm all in on this idea as well. I've pretty much abstained from touching gh-pages due to confusion on what it is and how it works, so :thumbsup: for me.

[2016-07-15 17:54] phpmaps commented on #249
@jgravois @afili @NoashX  - The reasoning that we encourage folks to include a Live Sample is a good rational for me.  To get the live sample link it's always a matter of doing 2 pull requests, which I've not been a fan of.

I am behind the idea too especially since it wont disrupt non-web based code.

However, does making this change have downstream effects on finding code?  I think every time I

[2016-07-15 17:55] benstoltz commented on #249
@phpmaps The default branch can be set to gh-pages.

[2016-07-15 18:03] jgravois commented on #249
@benstoltz is right.  the repo below is a good example because its already set up in this way

https://github.com/Esri/geodev-hackerlabs

[2016-07-15 18:06] phpmaps commented on #249
@benstoltz @jgravois @afili @NoashX  - sweet lets do it.  Great suggestion..

[2016-07-15 18:40] jgravois commented on #249
done and done.

fair warning, this will not automatically remove the `master` branch from existing forks or set `gh-pages` as the default branch for forks.

there is no harm in this, but for the folks out there as OCD as me.  you can remove your own `master` branch manually using github's web tools or by executing the command below (**after** you've set `gh-pages` as the new default branch of your

[2016-07-15 18:40] #249 closed

[2016-08-23 12:02] nohe427 commented on #221
I think since we deleted the master branch, the sample can be found here now:

https://github.com/Esri/developer-support/tree/gh-pages/web-js/wgs-to-webmercator

Therefore the gh-page can be found here:

http://esri.github.io/developer-support/web-js/wgs-to-webmercator/

[2016-08-23 14:28] #221 closed

[2016-08-23 14:32] jgravois commented on #220
still waiting on a cedar-charts-guage README from @phpmaps or any other kind soul.  to get even more nitpicky, ***gauge*** is misspelled.

[2016-08-23 14:32] jgravois opened #260 "find/replace '/master/' with '/gh-pages/'"
there are still 29 results for `/master/` in this repository
https://github.com/Esri/developer-support/search?utf8=%E2%9C%93&q=%2Fmaster%2F

since the branch has been removed, all urls which reference `/master/` need to be updated to `/gh-pages/`. preferably using the nifty find/replace in your text editor of choice.

any volunteers?

[2016-08-23 14:34] phpmaps commented on #220
John please delete this content.  It’s proving to be more of a hassle then value.
From: john gravois [mailto:notifications@github.com]
Sent: Tuesday, August 23, 2016 7:32 AM
To: Esri/developer-support <developer-support@noreply.github.com>
Cc: Doug Carroll <DCarroll@esri.com>; Mention <mention@noreply.github.com>
Subject: Re: [Esri/developer-support] cedar chart sample has no readme (#220)

still

[2016-08-23 19:04] jgravois commented on #220
i'm *95%* sure dougie is saying we should just remove the [`cedar-charts-guage`](https://github.com/Esri/developer-support/tree/gh-pages/web-js/cedar-charts-guage) sample entirely.

i've updated the issue name to reflect this.  still looking for volunteer to actually git-er done though.

[2016-08-29 21:04] jgravois commented on #260
closed via #261.  thx!

[2016-08-29 21:04] #260 closed

[2016-08-29 22:55] bsnider opened #262 "What are your thoughts on splitting web-js into two folders: web-js-3x and web-js-4x?"
Since these are two distinct APIs, I think it'd be clearer if we separated the two.

[2016-08-29 23:03] NoashX commented on #262
hmm, there's already a 4.x folder inside web-js, is that not sufficient?

[2016-08-30 06:23] WeASeL-Antigua opened #263 "Unable to update Layer Definition JSON in Services (AGOL)"
I am attempting to update a list of values inside a coded value domain. Before touching the original JSON, I ran it through [JSONLint](http://www.jsonlint.com) to ensure that I had no syntax issues or other issues. My JSON was confirmed valid.

![VALID JSON](https://cloud.githubusercontent.com/assets/18103637/18078186/38f17a70-6e58-11e6-9afa-bb8f89a7f77f.png)

I keep getting "Invalid definition fo

[2016-08-30 06:30] WeASeL-Antigua commented on #263
My apologies. I found a solution [here](https://blogs.esri.com/esri/arcgis/2014/10/19/updating-hosted-feature-services-in-arcgis-online/)

![solution](https://cloud.githubusercontent.com/assets/18103637/18078457/9a146848-6e59-11e6-9ac6-e33943efe11c.png)

[2016-08-30 06:30] #263 closed

[2016-08-30 19:10] bsnider commented on #262
That works for me, but should 3.x samples go in a 3.x folder for consistency?

[2016-08-30 19:14] NoashX commented on #262
:boom: I like that idea. Allows for expansion into 2.x/5.x if necessary.

[2016-08-30 19:16] jgravois commented on #262
consistency is nice, but trying hard not to create orphaned links on the internet is pretty nice too imo.

[2016-09-12 21:59] jgravois commented on #218
closed via 7d82b67

[2016-09-12 21:59] #218 closed

[2016-09-13 16:17] nohe427 opened #266 "Two license files"
Is there a reason that we have a LICENSE and a license.txt file in the root of this project?

I might just be confused on the licensing...

[2016-09-13 17:08] jgravois commented on #266
there *should* be only one.

![highlander](http://media.tumblr.com/tumblr_m7bqzrLOAN1qb9t58.jpg)

[2016-09-14 20:47] jgravois opened #267 "start using 'master' branch to host live web content"
on 8/17/2016, GitHub started supporting static website hosting directly from the `master` branch.
https://github.com/blog/2228-simpler-github-pages-publishing

it would probably be a good idea to take advantage of the new setting and make sure `master` is once again the default branch for the repo.

<sup>there's a sneaking other part of me that considers the way we have things set up now as a fail

[2016-10-12 15:11] briantwatson commented on #266
@jgravois, you can close per #273

[2016-10-12 16:42] jgravois commented on #266
@briantwatson do you not have permission?

[2016-10-12 17:11] briantwatson commented on #266
@jgravois, fairly certain no.  Only option I have here is "new issue", although I have never personally closed one so I could be missing something.

[2016-10-12 17:18] nohe427 commented on #266
Screenshots?
@brianwatson

[2016-10-12 17:19] nohe427 commented on #266
Screenshots?
@briantwatson

[2016-10-12 17:43] briantwatson commented on #266
@nohe427, <a href=http://i.imgur.com/vVBOF2Z.png>http://i.imgur.com/vVBOF2Z.png</a>

No close button at the bottom, nor an edit button up top

[2016-10-12 17:59] jgravois commented on #266
1. follow the steps in https://github.com/Esri/contributing/issues/9 to get added to the Esri [organization](https://github.com/orgs/Esri/people?utf8=%E2%9C%93&query=briantwatson).
2. after that's done, let me know and i will add you to the [Developer Support](https://github.com/orgs/Esri/teams/developer-support) team
3. that will give you write access to this repo.

[2016-10-12 18:00] nohe427 commented on #266
@briantwatson  Do not create a new GitHub account.  You can use the existing one

[2016-10-24 19:13] #144 closed

[2016-10-24 19:45] briantwatson commented on #266
@jgravois, I'm added to the Esri & ArcGIS orgs now.

[2016-10-24 21:58] jgravois commented on #266
great. welcome to the [team](https://github.com/orgs/Esri/teams/developer-support).

[2016-10-25 12:05] briantwatson commented on #266
Closed via #273, there can only be one!

[2016-10-25 12:05] #266 closed

[2016-11-02 08:05] dyh333 opened #278 "how to use extra lib in typescript"
there is a point clustering demo, https://developers.arcgis.com/javascript/3/jssamples/layers_point_clustering.html
and need an extra clusterlayer lib, which is loaded by
var dojoConfig = {
        paths: {
          extras: location.pathname.replace(/\/[^/]+$/, "") + "/extras"
        }
      };

but when i need to use it in angular2, how can i import this extra lib?

[2016-11-21 15:46] briankingery87 opened #280 "Error getting token"
I keep getting this error and all I've done is replace the username and password variables.

  File "C:\Users\brian.kingery@vdot.virginia.gov\Desktop\Kingery\Python\itemSizeCSV\itemSizeCSV.py", line 34, in <module>
    t= ItemCounterHelper.agolAdmin(user,pw)
  File "C:\Users\brian.kingery@vdot.virginia.gov\Desktop\Kingery\Python\itemSizeCSV\ItemCounterHelper.py", line 22, in __init__
    self.__to

[2016-11-21 15:50] nohe427 commented on #280
Which script are you using?

[2016-11-21 16:11] briankingery87 commented on #280
I am an admin in my group and my username and password are correct. I am using this script...

https://github.com/Esri/developer-support/tree/gh-pages/python/general-python/export-feature-service-item-size-CSV

[2016-11-21 16:13] nohe427 commented on #280
Have you tried capturing the response through Fiddler to see exactly what is returned while running the script?

[2016-11-21 16:19] nohe427 commented on #280
@briankingery87 - Just tried this with my own username and password, it looks like usernames are case sensitive.  Can you login to ArcGIS Online and check the casing of your username?  This may resolve the issue.

[2016-11-21 18:02] jgravois commented on #278
any ideas @tomwayson @jwasilgeo ?

[2016-11-21 18:17] tomwayson commented on #278
@dyh333 this can be closed since we answered it over in https://github.com/Esri/angular-esri-map/issues/311, right?

[2016-11-21 18:28] briankingery87 commented on #280
It was the case sensitivity. It's currently running now so lets see what comes from it, fingers crossed!

[2016-11-21 18:33] nohe427 commented on #280
@briankingery87 - I look forward to hearing the results.

[2016-11-21 18:37] briankingery87 commented on #280
Worked like a charm. I am going to do the export users and a couple other ones later.

[2016-11-21 18:39] nohe427 commented on #280
@briankingery87  - Great!  Can we go ahead and close this issue as it seems we have resolved it?

[2016-11-21 19:47] jgravois commented on #278
indeed it can.  thx @tomwayson!

[2016-11-21 19:47] #278 closed

[2016-11-21 21:20] briankingery87 commented on #280
Yes, thank you for the help

[2016-11-21 21:20] #280 closed

[2016-11-22 01:05] dyh333 commented on #278
yes, thanks @tomwayson . the issue has been several times ago. thanks again.

[2016-12-06 21:00] hhkaos opened #281 "Folders for frameworks"
Hi guys?, what do you think about adding several folders for diferentes technologies as:
* web-angular (ionic, directives v1. v2...)
* web-node
* web-jquery (bootstrap, calcite, jquery mobile)
* web-knockout
* web-backbone
* web-ember
* web-react
* web-polymer
* web-calcite
* web-tools (webpack, rollup, systemjs, browserify, yeoman, grunt, babel..)

And then add a **readme.md** on each folder, eve

[2016-12-07 06:43] jgravois commented on #281
sounds good to me!

[2016-12-07 07:07] hhkaos commented on #281
:+1: !
I just [updated a little bit the readme](https://github.com/hhkaos/developer-support/blob/master/web-app-builder/README.md) with more info (PR waiting to be accepted)

[2017-01-04 23:12] NoashX commented on #262
@bsnider revisiting this issue, think we should leave the folders as-is for now, but moving forward, adopt the 4.x and 5.x folders for future releases... keeping 3.x samples in the main folder will prevent orphaned links as @jgravois mentioned... my vote is to close this out at this time

[2017-01-04 23:14] NoashX commented on #281
is this still an open issue @hhkaos ?

[2017-01-04 23:27] jgravois commented on #281
@hhkaos has actually already made a lot of headway on a more definitive *resources* style repo and a calcite website to share web samples

https://github.com/esri-es/awesome-arcgis
https://esri-es.github.io/arcgis-web-samples/

i think we should link to these resources from developer-support and chip in and help him in his open source repos!

[2017-01-06 16:20] hhkaos commented on #281
Thx John for the update :) and happy new year by the way!!.

I'm still updating the awesome list of resources (in a [personal repo](https://github.com/hhkaos/awesome-arcgis)), I did a fork from that in the Esri Spain account to add some [localised resources](https://github.com/esri-es/awesome-arcgis/tree/master/front-end/dojo/web-appbuilder#recursos-en-español).

It is a lot of work for just one p

[2017-01-10 17:58] jgravois commented on #267
after seeing things like #284 and #289, i'm definitely convinced that we would benefit from just removing the `gh-pages` branch entirely.

please hold off on opening any new pull requests.  i'd like to merge the ones that are already open and then make this clerical change.  afterward, folks can start making PRs directly to `master`.

[2017-01-14 01:39] jgravois commented on #267
- [X] the `gh-pages` branch has been deleted
- [X] `master` has been (re)set as the default branch
- [X] `master` is now a [protected](https://help.github.com/articles/about-protected-branches/) branch
- [X] pull requests to `master` now [*require*](https://help.github.com/articles/approving-a-pull-request-with-required-reviews/) a review

[2017-01-14 01:39] #267 closed

[2017-01-14 01:41] jgravois commented on #281
closing, as there are no action items here, but i *highly* encourage folks to get involved and give @hhkaos a hand updating his cool projects!

[2017-01-14 01:41] #281 closed

[2017-01-14 01:41] jgravois commented on #155
its a good idea, but no one has taken the bait.

[2017-01-14 01:41] #155 closed

[2017-01-14 01:41] jgravois commented on #262
inbox zero.

[2017-01-14 01:41] #262 closed

[2017-01-20 14:19] nohe427 opened #292 "What is the default branch we are pushing pulling to?"
Hey all!

I know we have been going back and forth between what branch is the default branch (gh-pages v. master) and I wanted to know what is the current one that will be the default or one that we PR to.

Can we put this in the readme?

Thanks! 👾

[2017-01-20 17:40] nhaney90 commented on #292
@nohe427  The default branch is now Master

[2017-01-20 19:13] jgravois commented on #292
the default branch for any repository is the branch that is referenced when you visit its bare url.

![screenshot 2017-01-20 11 08 57](https://cloud.githubusercontent.com/assets/3011734/22161842/e538888c-df00-11e6-8f4b-6de30b0c34a8.png)

since the `gh-pages` branch is now gone completely, its impossible to make a new pull request to it.

i don't think the current state of the repository requires a

[2017-01-20 19:29] jgravois commented on #292
hah.  i can see now that someone with permission has pushed their own local `gh-pages` branch up.  i'll delete it (again).

all, please *do not* push work directly to **either** of the two branches below
* [Esri/developer-support/tree/gh-pages](https://github.com/Esri/developer-support/tree/gh-pages)
* [Esri/developer-support/tree/master](https://github.com/Esri/developer-support/tree/master)

mak

[2017-01-30 22:45] #292 closed

[2017-05-03 15:32] emilylecroixwright opened #300 "Problems running code in 10.5"
Run the script in 10.5 and only get complete message. Does not change path names in project.
Also tested script in 10.3 the script worked but corrupted some of the 10.5 .mxd. Can anyone help?

[2017-05-03 15:35] nohe427 commented on #300
Can you be a little more explicit on which script you ran?

[2017-05-03 15:38] emilylecroixwright commented on #300
https://github.com/Esri/developer-support/blob/master/python/arcpy-python/find-and-replace-data-sources-in-mxd/find_and_replace_data_sources.py

[2017-05-03 15:40] nohe427 commented on #300
When you say corrupted, do you mean that it changed the MXDs to a point which they cannot be opened (10.5 MXDs only) or do you mean that it switched the working data sources to bad data sources?  Are you trying to open the 10.5 MXDs in 10.3?

[2017-05-03 15:45] emilylecroixwright commented on #300
Yes got an error message opening the .mxd. Would no longer open. Ran the script on 30 different .mxd in different sub folders. The .mxd that corrupted had group layers. The script successfully remapped other .mxd with group layers.  The error message did say the project was created in a newer version of ArcGIS.

[2017-05-03 15:47] nohe427 commented on #300
MXDs are not backwards compatible.  You should be able to open that MXD on a 10.5 machine.  Are you able to open that MXD on a 10.5 machine?

[2017-05-03 15:48] emilylecroixwright commented on #300
Yes copy the original back and open fine in 10.5. The .mxd was original created in 10.5.

[2017-05-03 15:49] emilylecroixwright commented on #300
We have changed server. I'm having to change the path name for 10k .mxd.

[2017-05-03 15:54] emilylecroixwright commented on #300
The script that worked I was using 10.3 to change the pathnames in 10.5 project. I upgraded my test machine to 10.5 yesterday to see if I got the same error. This is when I found out the script did not work in 10.5.

[2017-05-03 15:59] nohe427 commented on #300
So, I don't believe the script corrupted the MXD since the MXDs created in 10.5 cannot be opened in 10.3, they can only be opened in 10.5 or newer.  I think the bigger issue here is that you are having trouble reading the MXDs and updating the paths using Python at ArcMap 10.5.  If I get a chance later today, I will try to open an MXD via Python and see if I can get the same issues that you are ru

[2017-05-03 16:04] emilylecroixwright commented on #300
Ok, thank you for your help. The main issue is that the script will not run in 10.5. Just says complete.

From: Alexander Nohe [mailto:notifications@github.com]
Sent: Wednesday, May 03, 2017 11:00 AM
To: Esri/developer-support
Cc: Wright, Emily; Author
Subject: EXT : Re: [Esri/developer-support] Problems running code in 10.5 (#300)

So, I don't believe the script corrupted the MXD since the MXDs c

[2017-05-03 16:12] nohe427 commented on #300
@emilylecroixwright - I just spoke with a colleague who was test ran the script for me and it sounds like it might be a configuration setting on your end?  For the path2Mxds argument, are you supplying a UNC path, a mapped path, or a path that is local?

Thanks,
Alexander

[2017-05-03 16:13] emilylecroixwright commented on #300
UNC path

From: Alexander Nohe [mailto:notifications@github.com]
Sent: Wednesday, May 03, 2017 11:12 AM
To: Esri/developer-support
Cc: Wright, Emily; Mention
Subject: EXT : Re: [Esri/developer-support] Problems running code in 10.5 (#300)

@emilylecroixwright[github.com]<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_emilylecroixwright&d=DwMFaQ&c=3Hqd6vQMMGnKjsH7MC8VSGY2--Y5dASb18

[2017-05-03 16:15] nohe427 commented on #300
Can you confirm that the UNC path is correct by placing it in the file explorer window and confirming that it opens up a new window to that location?

[2017-05-03 16:16] emilylecroixwright commented on #300
All path are correct

[2017-05-03 16:20] emilylecroixwright commented on #300
[cid:image001.png@01D2C3FF.355D27E0]

From: Alexander Nohe [mailto:notifications@github.com]
Sent: Wednesday, May 03, 2017 11:16 AM
To: Esri/developer-support
Cc: Wright, Emily; Mention
Subject: EXT : Re: [Esri/developer-support] Problems running code in 10.5 (#300)

Can you confirm that the UNC path is correct by placing it in the file explorer window and confirming that it opens up a new window

[2017-05-03 16:21] nohe427 commented on #300
Sorry, but that image did not come through

[2017-05-03 16:22] nohe427 commented on #300
[code]

Can you try running this script and letting me know what is printed besides complete?

This should print out the MXD_workspace argument as well as the Path argument that is later set in the script

[2017-05-03 16:23] nohe427 commented on #300
We can also take this to a more private conversation by emailing me directly at anohe@esri.com

[2017-05-03 17:25] nohe427 commented on #300
We resolved offline.

[2017-05-03 17:35] emilylecroixwright commented on #300
closeed

[2017-05-03 17:35] emilylecroixwright commented on #300
closed

[2017-05-03 17:55] #300 closed

[2017-05-04 18:04] #220 closed

[2017-05-04 18:17] jgravois opened #301 "instructions for tech support staff: getting push access to this repo"
i've done some clean up regarding privileges and permissions to this repo and have had a couple questions about onboarding new folks.

there are two options.

1. if you currently work in tech support and prefer to get familiar with GitHub using the [fork and pull](https://guides.github.com/activities/forking/) model, you can contribute as much as you please (just like the rest of planet 🌏) . some

[2017-05-31 13:28] nohe427 opened #303 "Start creating some kotlin samples"
We should convert some of the Java samples to kotlin now that it is officially supported by Google as a development language for Android. Adding this issue as an open invitation for help.

[2017-10-06 19:09] nohe427 opened #316 "Create activities to accommodate each extension function"
@briantwatson and I are thinking, it would be nice to have an app that could demo all the extension functions added to this repository.  Right now the extension functions just create a connivence file which you need to include within your application.  It would be good practice to show it in action so users could confirm this is what they are looking for.

[2017-10-17 12:09] briantwatson opened #325 "Branch cleanup"
@jgravois, you think it's OK if we clean up the branches in this repo to just master & gh-pages?

[2017-10-18 19:32] jgravois commented on #325
done, with the exception of [`network-analysis`](https://github.com/Esri/developer-support/tree/network-analysis). anything you want to save there @nohe427?

[2017-10-18 19:36] nohe427 commented on #325
Nope.

[2017-10-18 19:43] #325 closed

[2017-11-27 17:54] jgravois opened #328 "help wanted: new python sample to upload large files to ArcGIS Online"
can i get a volunteer to test this sample and contribute it to this repo via a pull request?

[code]

[code]

cc/ @kgerrow

[2017-12-25 09:55] ly2013203742 opened #329 "wfsLayer arcgis API for JavaScript 3.23"
I want adding filters for wfsLayer， just want to load one of the layers.So how to make "request=getfeature". Now I set featureid on customParameters,but I view the reques is 'GetCapabilities'. You can see the code from here:https://github.com/ly2013203742/Test-The-Install/blob/master/wfsLayer.html
![image](https://user-images.githubusercontent.com/14887020/34337706-a32674ac-e99c-11e7-8ff0-d2a373d5

[2017-12-26 22:08] jgravois commented on #329
hi @ly2013203742! this isn't the best place to ask for help using the ArcGIS API for JavaScript unless you have a specific question about a code sample that is published in _this_ repository. you'll attract a lot more eyes on [GeoNet](https://community.esri.com/comunity/developers/web-developers/arcgis-api-for-javascript).

[2017-12-27 01:23] ly2013203742 commented on #329
Thank you for your advice. I'll do it.

[2017-12-27 01:23] #329 closed

[2018-02-12 21:07] jgravois commented on #303
closing, but kotlin samples are welcome anytime

[2018-02-12 21:07] #303 closed

[2018-02-12 21:08] #316 closed

[2018-04-04 08:07] RajChavada opened #332 "XML Parsing Failed"
I am not sure if I am posting the issue in the right place.

I am trying to run this SQL - https://github.com/Esri/developer-support/blob/master/arcsde-sql/oracle/multi-user-management/delta-table-record-count.sql.

The following code is fails parse the XML.
[code]
 It is throwing following error message:

[2018-04-06 07:48] RajChavada commented on #332
@natas333x2  Thank you for your feedback. I ran the entire function first but it failed with the exact same error. We have ArcGIS 10.4.1 and 10.4.1 Oracle geodatabase.
Just because the entire function failed to execute, I broke down the code to pieces to see where exactly the it was failing. Then, I realized the query mentioned below was failing to execute:
`SELECT items.name AS FC_Name, EXTRACTVA

[2018-04-06 21:11] natas333x2 commented on #332
@RajChavada  Interesting, I'll have to try on a 10.4.1 geodatabase.  What do you get when you run this query?
``
SELECT
    items.name AS FC_Name,
    EXTRACTVALUE(xmltype(items.definition), '*/Versioned') as vers
FROM gdb_items_vw items
    INNER JOIN gdb_itemtypes itemtypes
    ON items.Type = itemtypes.UUID
WHERE ITEMTYPES.NAME IN ('Feature Class', 'Table');
``

Do you get the same "unexpected

[2018-04-07 07:39] RajChavada commented on #332
@natas333x2  I get the following error message when I run the above query,

The following is modified version of the entire script. @natas333x2 , Since the original script works on your geodatabase, is there any way you can check the results by running the modified version of the script to confirm if you get the same results? I would really appreciate it.

[code]

[2018-08-06 02:15] someevil opened #335 "Customizing Downloaded Filename"
Hey,

I am wondering if it would be relatively simple for me to modify this code somehow to not use the ObjectID in the naming of the file, but instead use a column I have in my feature layers called ASSET_ID?

Basically can I reference this other column when the code re-names the photos?

Cheers

[2018-08-06 02:36] someevil commented on #335
I think what I am trying to do is not possible, as the assetID is not kept in the same table as the attachment info... this is the info the object holds:
{'id': 19, 'globalId': '73d1d45a-cf17-46fd-91e9-9ca1def7cb39', 'parentGlobalId': 'a151e9bc-7042-49d6-9d19-2a3e7fefd2af', 'name': 'Photo1.jpg', 'contentType': 'image/jpeg', 'size': 553514, 'keywords': ''}

 I would have to do some fancy join back

[2018-10-29 16:09] dwaggenspack commented on #335
#Query to get list of object ids in layer
        featureObjectIds = featureLayer.query(where='1=1', return_ids_only=True)

Well, to give you some guidance, this is where you will need to start your quest.  Note how "return_ids_only" is set to true.  You should be able to get your feature's field data by changing that.

I know this isn't a full answer, but it should be a nudge in the right directi

[2019-03-22 10:34] vikshut opened #337 "Not working with 'ARCGIS_SERVER'"
Hi,

I am trying to publish as a feature service into my ArcGIS portal. For this I need to create the sddraft with ARCGIS_SERVER' as the server type. After this when I run the code to modify from MapService to FeatureService (within Arcmap's python window), the runs successfully without any errors but doesn't make any changes to the sddraft.

Would appreciate a fix for this. Thanks.

[2019-03-22 14:32] jgravois commented on #337
you're going to have to clarify which code sample you are trying to adapt because there are literally dozens in this project.

[2019-04-18 01:19] insomniak90 opened #338 "error:14077410 sslv3 alert handshake failure"
I am using this script and am able to run the update method ok. unfortunately I'm getting the error below when calling the deleteTiles and updateTiles methods. I'm assuming this has to do with the new TLS1.2 security requirement. But have no clue where to start. Greatly appreciate any help.

requests.exceptions.SSLError: [Errno 1] _ssl.c:510: error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv

[2019-04-18 01:24] insomniak90 commented on #338
please excuse my newbie-ness to github... this is in reference to developer-support / python / general-python / update-tile-service-from-tpk / updateTilesFromTPK.py

[2019-04-18 17:12] #337 closed

[2019-04-18 17:13] jgravois commented on #338
any ideas @kgerrow?

[2019-04-19 03:11] insomniak90 commented on #338
ok to close issue. I ended up installing python 2.7.16 and the script ran successfully.

[2019-04-19 03:11] #338 closed

[2019-04-19 16:50] jf990 commented on #338
without digging deeper this issue sounds like it is related to the TLS 1.2 upgrade that we recently did and older versions of SSL handshake will be rejected. upgrading a client to TLS 1.2 compatible SSL library might address it.

[2019-12-04 11:52] dncpax opened #341 "renewing tokens: register-server-token-with-identity-manager"
Hi there. Writing here hoping it's useful.

Regarding web-js/register-server-token-with-identity-manager, it shows how to get and use tokens from arcgis server, unfederated to portal. This works fine BUT only for 60 minutes. After that, the tokens expire and do not get renewed. So not usable.
You can get a long-lived token though and hope users close the browser or reload before it expires (e.g. 2

[2019-12-04 13:07] nhaney90 commented on #341
Hi! First off I'm glad someone actually uses these samples! Don't worry, it's always useful when someone asks questions.

Secondly, yes, the token will not be renewed by IdentityManager because it was not created through IdentityManager. I can see why you would find this useless. However almost every example in this repo comes from an actual support case. A customer called me and asked specificall

[2019-12-04 15:19] dncpax commented on #341
Hi there. I don't think it's useless...  just not usable as is. And I do appreciate the samples!!
I agree to some extent that it's not the best approach, but there is a real issue with authentication while integrating esri maps into web apps. There is usually already an authentication framework used for web apps (in our case IWA), and adding maps with another auth scheme is just too complicated (g

[2019-12-04 15:58] nhaney90 commented on #341
"Anyway, at least we are never bored..." at that the truth lol. You bring up the need to use IWA internally but still have the application available externally. In the old days I used to get around this by using a trick with two different web adapters for my ArcGIS Server. One Web Adapter would use IWA and the other would use anonymous authentication with anonymous users tied to a specific account

[2019-12-04 17:00] dncpax commented on #341
I was going the route of 2 web adaptors when I started looking at integrating Portal. Got to a point where a proof of concept was working fine, and then realized that federating server with portal requires licensing named users to existing web apps that edit server data... oops.
I might have to go back and take another look at 2 wa's... thanks for your tips!

[2019-12-17 23:41] jgravois commented on #328
closing, but this would still make a cool sample anytime someone wants to take a stab at it.

[2019-12-17 23:41] #328 closed

[2019-12-18 00:12] #301 closed

[2020-02-11 12:37] tpcolson opened #345 "Error getting token part 2"
Similar to https://github.com/Esri/developer-support/issues/280, I'm getting

Traceback (most recent call last):
  File "C:\Temp\NEXRAD_PYTHON\update-Tiles-From-TPK\update-Tiles-From-TPK\OverWriteTilePackage.py", line 83, in <module>
    token= getToken(user, pw)
  File "C:\Temp\NEXRAD_PYTHON\update-Tiles-From-TPK\update-Tiles-From-TPK\OverWriteTilePackage.py", line 26, in getToken
    return jres

[2020-02-11 12:44] tpcolson commented on #345
https://github.com/Esri/developer-support/tree/master/python/general-python/update-tile-service-from-tpk

[2020-02-12 17:22] jgravois commented on #345
the error seems to indicate that a username and/or password aren't making it through in the request at all.

[2020-04-29 18:38] ChrisK9999 opened #353 "DownloadAttachments.py, It does not seem to like itemObject.layers"
Line 83 DownloadAttachments.py, It does not seem to like itemObject.layers.  I am using Arcgis 1.7.0 and Python 3.6.9.     Do you any suggestion to how to go about fixing this without going into the arcgis module.

Line 83: for i in range(len(itemObject.layers)):

 File "C:\Program Files\ArcGIS\Pro\bin\Python\envs\arcgispro-py3\lib\site-packages\arcgis\gis\__init__.py", line 6978, in __getattribut

[2020-06-19 14:35] hdean83 opened #354 "rename: src should be string...."
I know this is likely a very stupid question - so thanks in advance if someone could help.

I am getting the following error:
TypeError                                 Traceback (most recent call last)
In  [49]:
Line 138:   renameFile(currentAttachmentPath, newAttachmentPath)

In  [49]:
Line 47:    os.rename(currentAttachmentPath, newAttachmentPath)

TypeError: rename: src should be string, bytes

[2020-07-29 18:30] raykendo commented on #353
Looks like if the feature layer was removed, the feature layer id either returns a NoneType, or a poorly constructed object.

1. First off, make sure the feature layer for the feature layer id actually exists.
2. If the hosted feature layer is not made publicly accessible, fill in the user name and password
3. Make sure your org portal URL is correct, too

[code]

If that doesn't work, I'd suggest

[2020-08-07 04:43] mayteio commented on #341
Hey guys, so just to confirm there's no way to use `IdentityManager.registerToken` in a way that `IdentityManager` will refresh the token when necessary?

[2020-08-07 08:28] dncpax commented on #341
Hi there. For some reason, registerToken only works with Portal tokens and does not automatically renew. I've put in on a setInterval so it runs every 50mins. For Server tokens I use the same as the sample, initializing esriId with a credential, also every 50mins.

[2020-08-07 08:30] mayteio commented on #341
Yep, I basically take the expires value and figure out five minutes less
from the time it was created. Regression!

On Fri, 7 Aug 2020 at 6:28 pm, dncpax <notifications@github.com> wrote:

[2022-08-02 15:49] danikane opened #376 "IMPDP.sql - additional information"
Hi, I experience behavior described here:
https://support.esri.com/en/technical-article/000012391

For me the solution was to make an additional:
`GRANT INHERIT ANY PRIVILEGES TO "SDE";`
as well as
`grant EXECUTE ON dbms_crypto to public;`

I hope that helps someone.
Thanks you for the script, saved a lot of work!